<p>login works!</p>
<section class="main">
    <form method="post">
  
      <h2>Bienvenido</h2>
      <p>Login</p>
  
      <div class="input-wrapper">
        <input type="text" name="name" placeholder="Usuario" >
        <img class="input-icon" src="#" alt="usuario">
      </div>
      <div class="input-wrapper">
        <input type="email" name="email" placeholder="Email" >
        <img class="input-icon" src="#" alt="email">
      </div>
      <div class="input-wrapper">
        <input type="password" name="password" placeholder="Contraseña" >
        <img class="input-icon" src="#" alt="contraseña">
      </div>
      <p><a>Recuperar contraseña</a></p>
      <input class="btn"  type="submit" name="registrar" value="Enviar">
   
    </form>