<p>home works!</p>

<section class="main">
    <form method="post">
  
      <h2>InnovaTube</h2>
      <p>Inicia tu Registro</p>
  
      <div class="input-wrapper">
        <input type="text" name="name" placeholder="Nombres" >
        <img class="input-icon" src="../login/icons/name.svg" alt="icono-nombre">
      </div>
      <div class="input-wrapper">
        <input type="text" name="surnames" placeholder="Apellidos" >
        <img class="input-icon" src="../login/icons/name.svg" alt="icono-apellido">
      </div>
      <div class="input-wrapper">
        <input type="text" name="name" placeholder="Usuario" >
        <img class="input-icon" src="../login/icons/name.svg" alt="usuario">
      </div>
      <div class="input-wrapper">
        <input type="email" name="email" placeholder="Email" >
        <img class="input-icon" src="../login/icons/email.svg" alt="email">
      </div>
      <div class="input-wrapper">
        <input type="password" name="password" placeholder="Contraseña" >
        <img class="input-icon" src="../login/icons/password.svg" alt="contraseña">
      </div>
      <div class="input-wrapper">
        <input type="password" name="password" placeholder="Confirmar Contraseña" >
        <img class="input-icon" src="../login/icons/password.svg" alt="confirmar-contraseña">
      </div>
      <input class="btn"  type="submit" name="registrar" value="Enviar">
   
    </form>

  
  </section>
